/* You can add global styles to this file, and also import other style files */
hr{
	background-color: #f1f1f1;
}
.main{
	background-color: #00000f
}
.btn-norm{
	background-color: tomato;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
}
.form-control{
		border-radius: 0;
		background-clip: padding 0;
	}